* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url("https://images.alphacoders.com/473/473246.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  /* backdrop-filter: blur(18px); */
  font-family: "Lato", sans-serif;
}
.top-heading {
  position: absolute;
  top: 10px;
  left: 50%;
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  transform: translateX(-50%);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.levels {
  position: absolute;
  height: 50px;
  /* top: 5px; */
  width: 100%;
  text-align: center;
}
.level-tag {
  font-size: 23px;
  padding-top: 6px;
  margin: 0 auto;
  float: left;
  width: 33.3%;
}
.level-tag a:hover {
  color: #eb4d4d;
}

a {
  color: rgb(161, 161, 161);
  text-decoration: none;
}
.player-0-box,
.player-1-box {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}

/* plyaers */

.player-name {
  color: rgb(161, 161, 161);
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  position: relative;
}
.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #eb4d4d;
  margin-bottom: 130px;
}
.active {
  background-color: #212121;
}
.active .player-name {
  font-weight: 300;
}
.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #eb4d4d;
  top: -7px;
  right: 10px;
}

.player-current-panel {
  background-color: #eb4d4d;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.p-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(235, 235, 235);
}
.p-current-score {
  font-size: 30px;
}
button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #b5b5b5;
  background: none;
  border: none;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
}
button:hover {
  font-weight: 600;
}
button:hover i {
  margin-right: 20px;
}
button:focus {
  outline: none;
}
i {
  color: #eb4d4d;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

.btn-new {
  top: 430px;
}
.btn-roll {
  top: 480px;
}
.btn-hold {
  top: 530px;
}

.dice {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  height: 110px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.dice-1 {
  position: absolute;
  left: 50%;
  top: 190px;
  transform: translateX(-50%);
  height: 90px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.dice-2 {
  position: absolute;
  left: 50%;
  top: 310px;
  transform: translateX(-50%);
  height: 90px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.fnl-score {
  position: absolute;
  width: 200px;
  left: 44%;
  top: 580px;
  transform: translateX(-50%);
  width: 100px;
  background: transparent;
}
.f-score {
  text-align: center;
  background: transparent;
  border: 0px;
  border-color: transparent;
  border-bottom: 1px solid #eb4d4d;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  color: #b5b5b5;
  height: 30px;
  font-size: 20px;
}

.caption {
  margin-bottom: 20rem;
}

.cars-1 {
  width: 60%;
  margin: 0 auto;
  /* padding-top: 3rem; */
  margin-top: 3rem;
  box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.3);
}

.play {
  color: white;
  text-align: center;
  margin-top: 13px;
  font-size: 3rem;
  animation: anim 1s infinite;
  font-weight: 600;
}

@keyframes anim {
  0% {
    color: black;
  }
  75% {
    color: aqua;
  }
  100% {
    color: yellow;
  }
}

.winner {
  background-color: #222222;
}
.winner .player-name {
  font-weight: 300;
  color: #eb4d4d;
}
